body{
  background-color: rgb(163, 163, 205);
}
header {
  background-color: palegreen;
}
ul {
  display: flex;
  list-style: none;
  padding: 20px;

  text-align: center;
}
.container {
  background-color: burlywood;
  font-size: 20px;
}
h2 {
  text-align: center;
}
img {
  border-radius: 50%;
  border: 5px solid black;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
footer {
  background-color: rgb(95, 89, 89);
  height: 100px;
}
.container-footer {
  align-items: center !important;
}
/*form*/
.formbold-mb-5{
  margin-bottom: 20px;
}
.form{
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
    
   
}
.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid rgb(28, 28, 73);
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #1b167b;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.btn{
  width:150px;
  height: 40px;
  border-radius: 10px;
  background-color:navy;
  text-align: center; 
}
.btn:hover{
  color:aliceblue;
  background-color: black;
}
.button-align{
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .sm\:w-half {
    width: 50%;
  }